.buy-in-shop {
  display: inline-flex; /* Ensures the element wraps tightly around its content */
  width: fit-content; /* Shrinks the element to match the width of the SVG */
}

.pinout-container {
  background-color: #FFF;
}
.hextra-card-tag .dark\:hx-bg-red-900\/30:is(html[class~="dark"] *) {
  background-color: rgb(127 29 29 / 1);
}

.paypal-container {
  text-align: center;
  margin-top: 10px;
}
