.buy-in-shop-button {
  display: inline-flex; /* Ensures the element wraps tightly around its content */
  width: fit-content; /* Shrinks the element to match the width of the SVG */
}

.schematic-container {
  background-color: #FFF;
}

.pinout-container {
  background-color: #FFF;
}

.hextra-card-tag .dark\:hx-bg-red-900\/30:is(html[class~="dark"] *) {
  background-color: rgb(127 29 29 / 1);
}

.paypal-container {
  text-align: center;
  margin-top: 10px;
}

.mf-themed-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: fit-content;
}

.mf-themed-container img {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 1;
}

/* Light mode image */
.mf-light-only {
  opacity: 1;
}

.dark .mf-light-only {
  opacity: 0;
}

/* Dark mode image */
.mf-dark-only {
  opacity: 0;
}

.dark .mf-dark-only {
  opacity: 1;
}
