{{- $image := .Params.ogimage -}}
{{- $width := 0 -}}
{{- $height := 0 -}}

{{- if $image -}}
  {{- with or (.Page.Resources.Get $image) (resources.Get $image) -}}
    {{- $processed := .Process "Resize 800x webp q80" -}}
    {{- $width = $processed.Width -}}
    {{- $height = $processed.Height -}}
    {{- $image = $processed.RelPermalink -}}
    {{- if $width -}}
      <meta property="og:image:width" content="{{ $width }}" />
    {{- end -}}
    {{- if $height -}}
      <meta property="og:image:height" content="{{ $height }}" />
    {{- end -}}
    <meta property="og:image" content="{{ $image }}" />
    <meta property="twitter:image" content="{{ $image }}" />
    <meta name="twitter:card" content="summary_large_image" />
  {{- end -}}
{{- else -}}
  <meta name="twitter:card" content="summary" />
{{- end -}}

{{- with or .Title site.Title site.Params.title | plainify }}
  <meta name="twitter:title" content="{{ . }}" />
{{- end }}

{{- with or .Description .Summary site.Params.description | plainify | htmlUnescape }}
  <meta name="twitter:description" content="{{ trim . "\n\r\t " }}" />
{{- end }}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}" />
    {{- end }}
  {{- end }}
{{- end }}
