<a
  class="buy-in-shop-button"
  href="{{ .Get "url" }}"
  rel="noopener noreferrer"
  target="_blank"
>
  <div class="mf-themed-container">
    <img
      src="/buy-in-the-mobiflight-shop-light.svg"
      width="146"
      height="40"
      alt="Buy in the MobiFlight shop"
      title="Buy in the MobiFlight shop"
      aria-label="Buy in the MobiFlight shop"
      class="mf-light-only"
    />
    <img
      src="/buy-in-the-mobiflight-shop-dark.svg"
      width="146"
      height="40"
      alt="Buy in the MobiFlight shop"
      title="Buy in the MobiFlight shop"
      aria-label="Buy in the MobiFlight shop"
      class="mf-dark-only"
    />
  </div>
</a>
